<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{master-page/layout :: layout(~{::title}, ~{::div.content})}">
	<head>
		<title>Mostrando parcela</title>
	</head>
	
	<body>
		<div class="content">

			<h1>Detalles de la parcela</h1>

			<div>
				<p>
					<strong>Nombre:</strong>
					<span th:text="${smallholding.title}"></span>
				</p>

				<p>
					<strong>Tamaño:</strong>
					<span th:text="${smallholding.size}"></span>
				</p>

				<p>
					<strong>Descripción:</strong>
					<span th:text="${smallholding.description}"></span>
				</p>

				<p>
					<strong>Tipo de cultivo:</strong>
					<span th:text="${smallholding.farmingType}"></span>
				</p>

				<p>
					<strong>Precio:</strong>
					<span th:text="${smallholding.price}"></span>
				</p>

				<p>
					<strong>Provincia:</strong>
					<span th:text="${smallholding.province}"></span>
				</p>

				<p>
					<strong>Localidad:</strong>
					<span th:text="${smallholding.locality}"></span>
				</p>

				<p>
					<strong>Dirección:</strong>
					<span th:text="${smallholding.address}"></span>
				</p>

				<p>
					<strong>Código postal:</strong>
					<span th:text="${smallholding.postalCode}"></span>
				</p>

				<p>
					<strong>Estado:</strong>
					<span th:text="${smallholding.status}"></span>
				</p>

				<p>
					<strong>Latitud:</strong>
					<span th:text="${smallholding.latitude}"></span>
				</p>

				<p>
					<strong>Longitud:</strong>
					<span th:text="${smallholding.longitude}"></span>
				</p>

				<p>
					<strong>Duración máxima:</strong>
					<span th:text="${smallholding.maxDuration}"></span>
				</p>

				<p>
					<strong>Nombre del propietario:</strong>
					<span th:text="${smallholding.owner.fullname}"></span>
				</p>

			</div>
		
		</div>
	</body>
</html>
	