<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{master-page/layout :: layout(~{::title}, ~{::div.content})}">

<head>
    <title>Mostrando parcela</title>
</head>

<body>
    <div class="content">

        <section class="engine">
        </section>
        <section class="services2 cid-rRNDCjx6s4" id="services2-q">

            <div class="container">
                <div class="col-md-12">
                    <div class="media-container-row">

						<div class="mbr-figure" style="width: 50%;">
                            <img th:src="${smallholding.images.split(',')[0]}" alt="Mobirise" title="">
                        </div>


                        <div class="align-left aside-content">
                            <h2 class="mbr-title pt-2 mbr-fonts-style display-2">
                       <span th:text="${smallholding.title}"></span></h2>
                            <div class="mbr-section-text">
                                <p class="mbr-text text1 pt-2 mbr-light mbr-fonts-style display-7"><strong>Tamaño:</strong>
                                    <span th:text="${smallholding.size}"></span></p>
								<p class="mbr-text text1 pt-2 mbr-light mbr-fonts-style display-7"><strong>Descripción:</strong>
                                    <span th:text="${smallholding.description}"></span></p>
								<p class="mbr-text text1 pt-2 mbr-light mbr-fonts-style display-7"><strong>Tipo de cultivo:</strong>
                                    <span th:text="${smallholding.farmingType}"></span></p>
								<p class="mbr-text text1 pt-2 mbr-light mbr-fonts-style display-7"><strong>Provincia:</strong>
                                    <span th:text="${smallholding.province}"></span></p>
								<p class="mbr-text text1 pt-2 mbr-light mbr-fonts-style display-7"><strong>Localidad:</strong>
                                    <span th:text="${smallholding.locality}"></span></p>
								<!--<p class="mbr-text text1 pt-2 mbr-light mbr-fonts-style display-7"><strong>Dirección:</strong>
                                    <span th:text="${smallholding.address}"></span></p>
								<p class="mbr-text text1 pt-2 mbr-light mbr-fonts-style display-7"><strong>Código postal:</strong>
                                    <span th:text="${smallholding.postalCode}"></span></p>-->
								<p class="mbr-text text1 pt-2 mbr-light mbr-fonts-style display-7"><strong>Estado:</strong>
                                    <span th:text="${smallholding.status}"></span></p>
								<!--<p class="mbr-text text1 pt-2 mbr-light mbr-fonts-style display-7"><strong>Latitud:</strong>
                                    <span th:text="${smallholding.latitude}"></span></p>
								<p class="mbr-text text1 pt-2 mbr-light mbr-fonts-style display-7"><strong>Longitud:</strong>
                                    <span th:text="${smallholding.longitude}"></span></p>-->
								<p class="mbr-text text1 pt-2 mbr-light mbr-fonts-style display-7"><strong>Duración máxima:</strong>
                                    <span th:text="${smallholding.maxDuration}"></span></p>
								<!--<p class="mbr-text text1 pt-2 mbr-light mbr-fonts-style display-7"><strong>Nombre del propietario:</strong>
                                    <span th:text="${smallholding.owner.fullname}"></span></p>-->
                                    

                                <p class="mbr-text text2 pt-4 mbr-light mbr-fonts-style display-2"><span th:text="${smallholding.price}">€/mes&nbsp;</p>
                            </div>
                            <!--Btn-->

                            <div class="mbr-section-btn pt-3 align-left"><a href="https://mobirise.co" class="btn btn-secondary-outline display-4">Regístrate o inicia sesión para contactar con el propietario</a></div>
                        </div>
                    </div>
                </div>
            </div>

			<div class="content">
			
		<section class="services1 cid-rRNjW9YKmG" id="services1-6">
		<div class="container">
        <div class="row justify-content-center">
            <!--Titles-->
            <div class="col-12">
                <h1 class="align-left pb-3 mbr-fonts-style display-2">
                    Comentarios:</h1>
                
            </div>
    
             
							<div class="container" th:each="co : ${comments}">
                        <p class="mbr-title mbr-fonts-style display-5" th:text="${co.writtenMoment}"></p>
                        <p class="mbr-text mbr-fonts-style display-7"  th:text="${co.text}"></p>
						<br>
						
                    
                </div>
                           
                
                <div th:if="${comments.size() == 0}">
                    <span>No hay comentarios disponibles</span>
                </div>                            
    
            </div>
        </section>

    </div>
</body>

</html>