<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{master-page/layout :: layout(~{::title}, ~{::div.content})}">
	<head>
		<title>Listado de parcelas</title>
	</head>
	
	<body>
		<div class="content">
			<h1>Listado de parcelas disponibles</h1>

			<table th:if="${smallholdingPage.getTotalElements() > 0}">
				<thead>
					<tr>
						<th></th>
						<th>Nombre</th>
						<th>Tamaño</th>
						<th>Provincia</th>
						<th>Localidad</th>
						<th>Tipo de cultivo</th>
						<th>Estado</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="sh : ${smallholdingPage}">
						<td><a th:href="@{display?smallholdingId=} + ${sh.id}" th:text="'Mostrar parcela'"></a></td>
						<td th:text="${sh.title}"></td>
						<td th:text="${sh.size}"></td>
						<td th:text="${sh.province}"></td>
						<td th:text="${sh.locality}"></td>
						<td th:text="${sh.farmingType}"></td>
						<td th:text="${sh.status}"></td>
					</tr>
				</tbody>
			</table>

			<div th:if="${smallholdingPage.totalPages > 0 && requestURI == 'smallholding/list'}" class="pagination"
				th:each="pageNumber : ${pageNumbers}">
				<a th:href="@{/smallholding/list(size=${smallholdingPage.size}, page=${pageNumber})}"
					th:text=${pageNumber}
					th:class="${pageNumber==smallholdingPage.number + 1} ? active"></a>
			</div>
			<div th:if="${smallholdingPage.totalPages > 0 && requestURI == 'owner/smallholding/listOwnSmallholdings'}" class="pagination"
				th:each="pageNumber : ${pageNumbers}">
				<a th:href="@{/smallholding/listOwnSmallholdings(size=${smallholdingPage.size}, page=${pageNumber})}"
					th:text=${pageNumber}
					th:class="${pageNumber==smallholdingPage.number + 1} ? active"></a>
			</div>
			
			<div th:if="${smallholdingPage.getTotalElements() == 0}">
				<span>No existen resultados</span>
			</div>
			

		</div>
	</body>
</html>
	