<!DOCTYPE html>
	<html th:replace="~{master-page/layout :: layout(~{::title}, ~{::div.content})}">
		<head>
			<title>Mostrar actor</title>
		</head>
		<body>
		
			<div class="content">
				<section class="services2 cid-rRNDCjx6s4" id="services2-q">

					<div class="container">
						<div class="col-md-12">
							<div class="media-container-row">
	
								<div class="mbr-figure" style="width: 25%;">
									<div th:if="${actor.image != null}" class="image profile">
										<img  th:src="${actor.image}" alt="Imagen de perfil" />
									</div>
								</div>
	
								<div class="align-left aside-content">
									<h3 class="mbr-title pt-2 mbr-fonts-style display-2">
									<span> Datos personales</span></h3>
	                            
									<div class="mbr-section-text">
										<p class="mbr-text text1 pt-2 mbr-light mbr-fonts-style display-7"><strong>Nombre completo:</strong>
											<span th:text="${actor.fullname}"></span></p>
										<p class="mbr-text text1 pt-2 mbr-light mbr-fonts-style display-7"><strong>Correo electrónico:</strong>
											<span th:text="${actor.email}"></span></p>
										<p class="mbr-text text1 pt-2 mbr-light mbr-fonts-style display-7"><strong>Número de teléfono:</strong>
											<span th:text="${actor.telephoneNumber}"></span></p>
									
										<p sec:authorize="hasRole('OWNER')">
											<strong>Nivel:</strong>
											<span th:text="${level}"> </span>
										</p>
									
										<div th:if="${isMyProfile && iban != null && iban != ''}" class="info iban">
											<p class="mbr-text text1 pt-2 mbr-light mbr-fonts-style display-7">
												<strong>IBAN:</strong>
												<span th:text="${iban}"></span>
											</p>
										</div>
									</div>
							
									<div th:if="${isMyProfile}"  class="align-left aside-content">
										<h2 class="mbr-title pt-2 mbr-fonts-style display-2">
											<span>Cuenta de usuario</span>
										</h2>
									
										<div class="mbr-section-text">
											<p class="mbr-text text1 pt-2 mbr-light mbr-fonts-style display-7"><strong>Nombre de usuario:</strong>
												<span th:text="${actor.userAccount.username}"></span></p>
										
											<p class="mbr-text text1 pt-2 mbr-light mbr-fonts-style display-7"><strong>Rol del usuario:</strong>
												<span th:text="${role}"></span></p>
										</div>
									</div>
									
	                           
									<!--Btn-->
									<div th:if="${isMyProfile}" class="mbr-section-btn pt-3 align-left"><a href="" class="btn btn-secondary-outline display-4">Editar perfil</a></div>
									<div class="mbr-section-btn pt-3 align-left"> <a class="btn btn-secondary-outline display-4" th:href="@{/}"> Volver atrás </a> </div>
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>
		</body>
</html>
