<!DOCTYPE html>
	<html th:replace="~{master-page/layout :: layout(~{::title}, ~{::div.content})}">
		<head>
			<title>Mostrar actor</title>
		</head>
		<body>
			<div class="content">
				<div th:if="${actor != null}" class="display info-actor">
					<h1> Información sobre el usuario </h1>
					
					<div th:if="${actor.image != null}" class="image profile">
						<img  th:src="${actor.image}" alt="Imagen de perfil" />
					</div>
					
					<div class="detalles informacion personal">
						<h3> Datos personales </h3>
						<p>
							<strong>Nombre completo:</strong>
							<span th:text="${actor.fullname}"></span>
						</p>
						
						<p>
							<strong>Correo electrónico:</strong>
							<span th:text="${actor.email}"></span>
						</p>
						
						<p>
							<strong>Número de teléfono:</strong>
							<span th:text="${actor.telephoneNumber}"></span>
						</p>
						
						<p sec:authorize="hasRole('OWNER')">
							<strong>Nivel:</strong>
							<span th:text="${level}"> </span>
						</p>
						
					</div>
					
					<div th:if="${isMyProfile && iban != null && iban != ''}" class="info iban">
						<p>
							<strong> IBAN: </strong>
							<span th:text="${iban}"> </span>
						</p>
					</div>
				
					<div th:if="${isMyProfile}" class="detalles cuenta de usuario">
						<h3> Información de la cuenta de usuario </h3>
						<p>
							<strong> Nombre de usuario: </strong>
							<span th:text="${actor.userAccount.username}"></span>
						</p>
						<p>
							<strong> Rol del usuario: </strong>
							<span th:text="${role}"></span>
							<!-- <span sec:authentication="principal.authorities"></span> -->
						</p>
					</div>
					<p th:if="${isMyProfile}"> <a th:href="@{/actor/edit}">Editar perfil </a> </p>
					<p> <a th:href="@{/}"> Volver atrás </a> </p>
				</div>
				
				<div th:if="actor == null" class="nada mostrar">
					<p> <a th:href="@{/}"> Volver atrás </a> </p>
				</div>
			</div>
		</body>
	</html>